# Isi di Vercel > Settings > Environment Variables (jangan commit nilai asli)
GAS_URL=https://script.google.com/macros/s/AKfycb....../exec
GAS_API_KEY=isi-sama-persis-dengan-Script-Property-GAS_API_KEY
